#Customer Churn - Decision tree model using Numpy

In [6]:
import numpy as np
import openml
import pandas as pd

#Load dataset from openml for customer churn
Here I have used the dataset with id 45568

In [7]:
dataset = openml.datasets.get_dataset(45568) #Load data from open ml 
#the loaded data returns not a single value but many like (dataframe, attribute name, class names,...)
#We inly use dataframe which is the 2D table of data we need
#Hence we assign the first returned value dataframe to df and the rest (*) to '_' which is like a throw away variable 
df, *_= dataset.get_data()
print(df.head())#shows some sample rows from the dataframe df

   gender SeniorCitizen Partner Dependents  tenure PhoneService  \
0  Female             0     Yes         No       1           No
1    Male             0      No         No      34          Yes
2    Male             0      No         No       2          Yes
3    Male             0      No         No      45           No
4  Female             0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity OnlineBackup  \
0  No phone service             DSL             No          Yes
1                No             DSL            Yes           No
2                No             DSL            Yes          Yes
3  No phone service             DSL            Yes           No
4                No     Fiber optic             No           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No          No          No              No  Month-to-month
1              Yes          No          No              No        One year
2               No          No          No              No  Month-to-month
3              Yes         Yes          No              No        One year
4               No          No          No              No  Month-to-month

  PaperlessBilling              PaymentMethod  MonthlyCharges  TotalCharges  \
0              Yes           Electronic check           29.85         29.85
1               No               Mailed check           56.95       1889.50
2              Yes               Mailed check           53.85        108.15
3               No  Bank transfer (automatic)           42.30       1840.75
4              Yes           Electronic check           70.70        151.65

  Churn
0    No
1    No
2   Yes
3    No
4   Yes

#Cleaning up the dataset
As we can see the features does not only contain digits but also strin values which makes it difficult for comaprison and categorising, so lets map the strings to digits.
example: for gender- female/male is converted to 1/0
for contract: month to month is 0, one year is 1, two years is 2,...

###Kindly note that it does not matter what value is mapped to which number since we can always store the mapped data

In [8]:
#Used to map string value to integers
def auto_encode(df):
    for col in df.columns:
        if df[col].dtype == 'object':# if type of the value is string
            if df[col].nunique() == 2: #if number of unique classes in the feature is 2
                # Binary → 0/1
                vals = df[col].unique()
                df[col] = df[col].map({vals[0]: 0, vals[1]: 1})
            else:
                # Multi-category → integer codes
                
                df[col] = df[col].astype('category').cat.# cat codes assign values starting from 0
    return df

SyntaxError: invalid syntax (792404126.py, line 12)

#Final cleanup for loaded data

In [ ]:
# Convert TotalCharges safely, heer the numeric values that are strings '200' is converted into float
#if the value is a string or nill 'abc' or '' in total charges then they are converted into Nan- not a number by the error='coerce'
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
#Drop any row in the dataframe that has NAN values, inline is used so that the same dataframe is edited instead of saving it into another
df.dropna(inplace=True)

# Encode automatically
df = auto_encode(df)

# Prepare arrays for manual tree
X = df.drop(columns=['Churn']).values
y = df['Churn'].values

NameError: name 'pd' is not defined